@import '../../styles/common.scss';

.order-status-component {
    display: block;
    padding: $spacing-lg $spacing-md;
    background-color: $color-gray-1;
}

.order-status-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.order-status-column {
    display: inline-block;

    label {
        display: block;
        margin-bottom: $spacing-sm;
        text-transform: capitalize;
        font-weight: bold;
    }

    span {
        text-transform: capitalize;
        font-size: $font-md;
        
        i {
            font-size: .75rem;
            margin-right: .25rem;
        }
    }
}